@charset "UTF-8";

.header-page{
    border:2px solid red;
    display:flex;
    justify-content: space-around;
}
.header-page h2{
    border:2px solid red;
    margin:35px 20px 45px 20px;
    padding:22.5px 0 22.5px 0;
}
.main-nav li{
    border:2px solid red;
    display:inline-block;
    list-style:none;
    margin:35px 20px;
    padding:32.5px 0 32.5px 0;
    
}

.title{
    position:relative;
}
.title-logo {
    position:absolute;
    top: 20%;
    left:0;
    right:0;
    text-align:center;
    
}

.title-logo h5{
    margin-top:2%;
}
.title img{
    border:2px solid red;
    max-width: 100%;
    width:100%;
    
}

    